/*
home_landing_section
The home_landing_section is where users will start on the website.
This contains the title text and some additional basic information about you.
*/
#home_landing_section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--branding-color-cream-50);
    overflow: hidden !important;
    position: relative;
}

.home_landing_section_background{
    display: flex;
    width: 120%;
    height: 120%;
    position: absolute;
    flex-direction: row;
    z-index: 0;
    justify-content: flex-end;
    cursor: none !important;
    opacity: 0.85;
    overflow-x: hidden !important;
}

.home_landing_section_background_model{
    width: 75%;
    height: 100%;
    overflow-x: hidden !important;
}


.home_landing_section_header{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding-left: var(--padding-horizontal-l);
    pointer-events: none !important;
}

.landing-heading{
    font-size: 2.5em;
}

.landing-subheading{
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
    pointer-events: none;
    font-family: 'Bryant', sans-serif;
    max-width: 420px;
}

.home_landing_section_header_buttons{
    padding-top: var(--padding-vertical-m);
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .home_landing_section_background{
        width: 110%;
        height: 110%;
        right: -15%;
    }
}

@media (max-width: 1120px) {
    .home_landing_section_background{
        width: 100%;
        height: 100%;
        right: -17%;
    }
}

@media (max-width: 1000px) {
    .home_landing_section_background{
        width: 100%;
        height: 100%;
        right: -20%;
    }
}

@media (max-width: 950px) {
    .home_landing_section_background{
        width: 95%;
        height: 95%;
        right: -20%;
    }
}

@media (max-width: 900px) {
    .home_landing_section_header{
        position: absolute;
        top: 20%;
        z-index: 1;
    }
    .home_landing_section_background{
        width: 110%;
        height: 110%;
        right: -10%;
        bottom: -200px;
    }
}

@media (max-width: 700px) {
    .home_landing_section_background{
        width: 120%;
        height: 120%;
        right: -10%;
        bottom: -250px;
    }
}

@media (max-width: 600px) {
    .home_landing_section_header{
        position: relative;
    }
    .home_landing_section_background{
        width: 110%;
        height: 110%;
        right: -15%;

        bottom: 0px;
        opacity: 0.5;
    }
}

@media (max-width: 550px) {
    .home_landing_section_header{
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
    .landing-heading{
        font-size: 3em;
    }

    .landing-subheading{
        font-size: 1.2em;
    }

    .home_landing_section_background{
        display: flex;
        width: 120%;
        height: 120%;
        position: absolute;
        flex-direction: row;
        z-index: 0;
        justify-content: center;
        align-items: center;
        cursor: none !important;
        opacity: 0.4;
    }


}